@font-face {
  font-family: "Product";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

* {
  font-family: "Product";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.welcome-container {
  background-color: brown;
  height: 100vh;
  /* background: linear-gradient(-45deg, #ecc864, #e95f94, #3b98e4, #3fe4bd); */
  background: linear-gradient(-45deg, #b1fccf, #f5ce73, #f7797d, pink);
  background-size: 400% 400%;
  animation: gradient 11s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-link {
  margin: 0 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
}
.navbar-link:hover {
  transform: scale(1.15);
}

.navbar-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(250, 60, 92);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
