@font-face {
  font-family: 'Product';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

*{
  font-family: 'Product';
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#title{
  font-size: 70px;
  display: inline;
  margin: 20px;

	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

